<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movie Store</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/users/login">Login</a></li>
      <li><a href="/users/register">Register</a></li>
      {{#if user}}
      <li><a href="/users/add">Add Movie</a></li>
      <li><a href="/users/logout">Logout</a></li>
      {{/if}}
    </ul>
  </nav>

  <div class="container">
    {{{body}}}
  </div>
</body>
</html>
